@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 20%/50%;
}
a:hover{
  background: hotpink;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
.container {
  margin-top: 5rem;
}
.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
.signOutPage {
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  align-content: center;
}
.signInBtn {
  display: flex;
  align-self: center;
  margin-top: -15em;
  margin-bottom: 5rem;
}
.signBtn {
  background: #263568;
  color: #E2FAFA;
  font-size: 1.5rem;
  width: 12rem;
}
.navLogo {
  height: 2.5rem;
  margin-left: 1rem;
}
.cardForm {
  margin: 2rem;
  box-shadow: .5rem .5rem .5rem rgba(98, 2, 58, 0.285);
}
.input-group {
  display: flex;
  justify-content: center;
}
#floatingSelect {
  display: flex;
  justify-content: center;
  align-content: center;
}
.icons {
  border-radius: 50%;
  background: transparent;
  border: hidden;
}
.icons:hover{
  background: hotpink;
}
.search-me {
  width: 100%;
}

.gridContainer {
  column-count: 4;
  column-gap: 15px;
}

.gridCard {
  margin: 10px;
  border-radius: 20px;
  border: none;
}

.hoverContainer {
  padding: 20px;
  text-align: center;
  height: 100%;
  font-size: 2rem;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.58);
  color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.hoverDescription {
  font-size: 1rem;
}

.gridCard:hover .hoverContainer {
  visibility: visible;
  opacity: 1;
}

.gridCard > img {
  border-radius: 20px;
}
.profile-pic{
  width: 20rem;
  margin: 10px;
  border-radius: 20px;
  border: none;
}
.profile {
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-style: hidden;
}
.profile-pic {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: .5rem;
  object-fit: cover;
}
.card-handle-text {
  color: grey;
}
.followList {
  margin: 0;
  padding: 0;
  width: 13rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: none;
}
.btnGroup {
  margin: .5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.editBtn, .shareBtn{
  margin: .5rem;
  border-radius: 20%/50%;
}
.shareBtn {
  width: 6rem;
}
.profile-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-style: hidden;
}
.createSavedBtns {
  padding: 0;
  width: 20vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}
.iconBtns {
  margin: 0;
  width: 90vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.board-head {
  height: 45vh;
}
.board-pic{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: .5rem;
  object-fit: cover;
}
.card-top {
  display: flex;
  flex-flow: row nowrap;
}
.card-mid {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-mid .icons {
  margin: 0;
  height: 3.5rem;
  border-radius: 10%;
}
.card-bottom {
  width: 90vw;
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}
.profileGrid {
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
}
.profileCard {
  width: 13rem;
  height: 13rem;
  border: hidden;
  margin: 1rem;
}
.profileCard img{
  height: 80%;
  object-fit: cover;
}
.card-body {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.card-title {
  display: flex;
  align-items: center;
}
.pinContainer {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 98, 98, 0.35) 0px 5px 15px;
  border-radius: 2%;
  width: 690px;
  margin: auto;
}
.columnOne {
  display: inline;
  margin-right: 20px;
}
.columnTwo {
  display: inline;
  margin-left: 20px;
}
.pin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon-buttons {
  border-radius: 50%;
}
.signOutBtn {
  align-self: flex-end;
}
.redText {
  color: red;
  text-decoration: none;
}
.redText:hover {
  color: darkred;
}
.pin-map {
  column-count: 4;
  column-gap: 15px;
}
.pinUserDetail {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
